<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de carros</title>
</head>
<body>
	<a th:href="@{/carros}">Lista de Carros</a>

	<h1>Cadastro de carros</h1>

	<form action="/carros" method="POST" th:object="${carro}">
		
		<!-- Erros --> 
		<div th:if="${#fields.hasAnyErrors()}">
			<div th:each="error : ${#fields.detailedErrors()}">
			  <span th:text="${error.message}"></span>
			</div>
		</div>
		
		<!-- Mensagem geral -->
		<div th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>
		
		<input type="hidden" th:field="*{id}" />
		
		<label for="placa">Placa:</label>
		<input id="placa" type="text" th:field="*{placa}" />
		
		<br />
		
		<label for="chassi">Chassi:</label>
		<input id="chassi" type="text" th:field="*{chassi}" />
		
		<br />
		
		<label for="valorDiaria">Valor da diária</label>
		<input id="valorDiaria" type="text" th:field="*{valorDiaria}" />
		
		<br />
		
		<button type="submit">Salvar</button>
	</form>
</body>
</html>








