<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layoutPadrao}">
<head>
<meta charset="UTF-8">
<title>Lista de carros</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<h1>Lista de carros</h1>
			<div class="container">
				<table border="1" class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>Categoria</th>
							<th>Descrição</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="modelo : ${modelos}">
							<td th:text="${modelo.id}"></td>
							<td th:text="${modelo.categoria}"></td>
							<td th:text="${modelo.descricao}"></td>
							<td>
								<a class="btn btn-success" th:href="@{/modelos/editar/{id}(id=${modelo.id})}">Editar</a>
								<a class="btn btn-danger" onclick="return confirm('Confirma a exclusão?');"
								th:href="@{/modelos/excluir/{id}(id=${modelo.id})}">
								Excluir</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(modelos)}">
								<td colspan="8">Nenhum carro cadastrado!</td>
							</tr>
					</tbody>
				</table>
			</div>
	</section>
</body>
</html>